:root {
     --dark-blue: #042940;
     --blue: #005C53;
     --yellow: #DBF227;
}

.dark-blue {
     background-color: var(--dark-blue);
     color: #f8f9fa;
}

.blue, .btn-success {
     background-color: var(--blue);
     color: aliceblue;
}

.yellow {
     background-color: var(--yellow);
}

body {
     background-color: #f8f9fa;
}

.container {
     margin-top: 80px;
}

.card {
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.btn-primary {
     width: 100%;
}
